{% extends "blog/base.html" %}
{% block content %}
	<h1>About</h1><img src="https://media.licdn.com/dms/image/C4E03AQGSgH6D3Kk3nw/profile-displayphoto-shrink_200_200/0?e=1577923200&v=beta&t=a8XacHVrvwASp2k_9BOmazdApWc6uuRhVxDKlpBDo0o" alt="face-picture" width="145" height="140" align="right">
	<h5>Our Campus</h5>
		<p><i>Created by Mitchell Mumma</i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<a href="https://www.linkedin.com/in/mitchell-mumma/"><i class="fab fa-linkedin"></i></a>
			<a href="https://www.linkedin.com/in/mitchell-mumma/">Connect with me on LinkedIn</a>
		</p>
		<p><i class="fab fa-python fa-2x" alt="Python"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<i class="fab fa-html5 fa-2x" alt="HTML5"></i>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<i class="fab fa-css3-alt fa-2x" alt="CSS3"></i>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<i class="fab fa-bootstrap fa-2x" alt="bootstrap"></i>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<i>Django Framework</i>
		</p>
		<br>
		<hr>
		<h5>Website Purpose</h5>
		<p>This site was created by me to practice and showcase Python coding and web development skills. I developed this project locally, utilizing the Django framework.  HTML and CSS are also used for the web pages.  All User Posts are fake, and created by me.</p>
		<p>The purpose of this site is to be a message board for a college campus.  The site is intended to be specifically catered to one school and one school only - hence why the site is VCU themed and the sidebar links are tied to VCU sites. Ideally, if this site was deployed for public use, access would be restricted to students and members of the University, verified by signing up using the students University email.  At its core, though, the websites purpose is to demonstrate development skills.</p>

{% endblock content %}